.science_value_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 5%;
    gap: 2vh;
} 

.science_value {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 90%;
    min-width: 260px;
    padding: 20px 20px 20px 30px;
    border-radius: 20px;
    border: 2px solid #63C1F1;
    background-color: #07131F;
}

.science_value_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.science_name {
    text-align: left;
}

.value_button {
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: url('/src/assets/images/Up.svg') no-repeat center bottom, rgb(255, 255, 255);
    background-size: 60%;
}

.flipped {
    transform: scaleX(-1);
}

.science_value_list {
    margin-top: 20px;
    li {
        margin-bottom: 5%;
        font-family: 'Montserrat';
        color: white;
    }
}

.block_text::-webkit-scrollbar {
    width: 6px;
}

.block_text::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}