@use '../../../assets/styles/global.scss' as *;

$ParagraphSize: clamp(10px, 0.6vw + 0.6vh, 1.5vw);
$FirstHeaderSize: clamp(15px, 1.2vw + 1vh, 2vw);
$SecondHeaderSize: clamp(12px, 1.1vw + 1vh, 1.8vw);

.stage_info_text {
    padding: 5%;
    transition: opacity 1s;
    p {
      font-weight: 600;
      font-size: $ParagraphSize;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 2%;
    }
    h1 {
      font-size: $FirstHeaderSize;
      margin-bottom: 20px;
    }
    h2 {
        text-align: left;
        margin-top: 7%;
        font-size: $SecondHeaderSize;
    }
    ul, ol {
        margin-top: 5%;
        margin-left: 10%;
    }

    li {
        font-family: 'Montserrat', sans-serif;
        font-size: $ParagraphSize;
    }
}

.quote {
  display: flex;
  flex-direction: column;
  font-family: 'Bad Script', sans-serif;
  font-size: calc($ParagraphSize + 0.3vw);
  font-weight: 500;
  color: #63C1F1;
  margin-top: 5%;

  .quote_author {
    margin-top: 3%;
    margin-right: 5%;
    color: whitesmoke;
    align-self: flex-end;
    font-size: $ParagraphSize;
  }
}

.info_image_container {
  @extend %default_background_image;
  position: relative;
  background-size: 100%;
  box-sizing: border-box;
  height: 130px;
  width: 100%;
  transition: 0.1s;
}

.info_image_container:hover {
  cursor: pointer;
}

b {
  color: #63C1F1
}