@use '../../../assets/styles/global.scss' as *;

$stage_height: clamp(9vh, 5vw, 13vh);

.stage_display {
    @include flex_default();
    position: absolute;
    z-index: 1000;
    height: $stage_height;
    width: 13vw;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px 0px 20px;
    text-align: center;
    transition: 1s;
}

.stage_display:hover {
    cursor: pointer;
}

.stage_info {
    box-sizing: border-box;
    height: calc(100% - $stage_height);
    position: absolute;
    background-color: rgba(10, 33, 49, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 0px 20px;
    z-index: 1000;
    margin-top: $stage_height;
    color: whitesmoke;
    transition: 1s;
}

.stage_info_text {
    max-width: 300px;
}

.default_text_marker {
    pointer-events: none;
    p {
        color: greenyellow;
        font-size: 17px;
    }
}