* {
    padding: 0;
    margin: 0;
}

html, body {
    height: auto;
}

h1, h2 {
    font-family: "JetBrains Mono", serif;
}

p {
    font-family: "Montserrat", serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 75px;
    padding: 0px 10px 0px 10px;
}

.initials_container {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    transition: 1s;
    a {
        font-family: "Montserrat", serif;
        color: white;
        text-decoration: none;
        transition: 0.5s;
    }

    a:hover {
        transition: 0.5s;
        color: rgba(255, 255, 0, 0.934);
    }

    #logo {
        background-image: url(/public/home_logo.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 120px;
        width: 125px;
        transition: 1s;
    }
    #logo:hover {
        transform: scale(1.1);
        transition: 1s;
    }
    h2 {
        font-size: 30px;
    }
}

.catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-width: 500px;
    width: 50%;
    border-top: 2px solid white;
    a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 24px;
        transition: 0.5s;
    }
    a:hover {
        color: #55516f;
    }
    a:active {
        color: red;
        transition: 0.2s;
    }
}

@media(max-width:570px) {
    .initials_container {
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
        gap:0px;
        h2 {
            width: 100%;
            font-size: 34px;
        }
    }
    .catalog {
        flex-direction: column;
        min-width: 300px;
        width: 90%;
        gap:20px;
    }
}