@use './global.scss' as *;

.triple_flex_container {
    @include flex_default(space-between, flex-start);
    gap: 5%;
    margin-top: 11vh;
}

.triple_flex_container_mob {
    @include flex_default(space-between, flex-start);
    box-sizing: border-box;
    gap: 2%;
    padding: 0 3%;
    width: 100%;
    margin-bottom: 10%;
}

@media(max-width: 700px) {
    .triple_flex_container_mob {
        @include flex_default(space-between, flex-start);
        box-sizing: border-box;
        gap: 2%;
        padding: 0 3%;
        width: 100%;
        margin-bottom: 10%;
    }
    .triple_flex_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}